<table mat-table *ngIf="results instanceof Array" [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="weekday">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let result"> {{result.date.toFormat('EEEE')}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let result"> {{result.date.toFormat('MM/dd/yyyy')}} </td>
    </ng-container>

    <ng-container matColumnDef="shift">
        <th mat-header-cell *matHeaderCellDef>Shift</th>
        <td mat-cell *matCellDef="let result"> {{result.shift}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let result"> {{result.person.name}} </td>
    </ng-container>

    <ng-container matColumnDef="loadingspinner">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length" style="text-align: center;">
            <mat-spinner></mat-spinner>
        </th>
    </ng-container>

    <ng-container matColumnDef="errormessage">
        <th mat-header-cell *matHeaderCellDef colspan="4" [attr.colspan]="4" style="text-align: center;">
            Couldn't find a schedule that satisfy all requirements
        </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row [ngStyle]="{'display': isLoading ? 'table-row' : 'none' }" *matHeaderRowDef="['loadingspinner']"></tr>
    <tr mat-header-row [ngStyle]="{'display': isNotFound ? 'table-row' : 'none' }" *matHeaderRowDef="['errormessage']"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>