:host {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

